@font-face {
    font-size: 7px;
        font-family: "PTSans";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.25;
    src: url("./fonts/PT_Sans-Narrow-Web-Bold.ttf");
      
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.container {
    width: 2560px;
    height: 1756px;
    background-color: black;
    color: white;
}
header {
    width: 100%;
    height: 72px;
    display: flex;
   justify-content: center;
}
.navbox {
    width: 941px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* padding-left: 20px;
    padding-right: 20px; */
   
    font-size: 16px;
        font-family: "PTSans";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.25;

    
    
}
.mainmenu > li {
    display: inline-block;
    padding: 22px;
    

}
.login {
    display: inline-block;
    padding: 22px;
    background: none;
    border: none;
    color: white;
}
.login > button {
    background: none;
    border: none;
    padding: 0;

}


main {
    justify-content: center;
    height: 1491px;
    width: 100%;
    background-image: url(./img/background.png);
    background-size: cover;
    
}
.intro {
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    justify-content: center;
    padding-top: 58px;
    align-items: center;
}
.intro-content {
    width: 850px;
    display: flex;
    flex-direction: row;
   justify-content: center;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   margin-top: 80px;
   
   font-family: sans-serif;
   /* font: PT Sans; */

}
 .article {
    display: block;
    text-align: center;
    }


footer {
    background-color: #222222;
    width: 100%;
    height: 193px;
}