@font-face {
    font-weight: 400;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-weight: 700;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
    font-weight: 100;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
    font-weight: 300;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Light.ttf");
}
@font-face {
    font-weight: 500;
    font-family: Montserrat;
    src: url("../fonts/Montserrat-Medium.ttf");
}


.block-wrapper {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    }
.dropdown {
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.dropbtn {
   padding-right: 29px;
    flex-wrap: wrap;
    color: var(--Black, #212121);
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.42px;
    background-color: #F9F6F1;
    border: none;
    cursor: pointer;
}

.dropdown > li {
    
    position: relative;
  }
  
  .dropdown > li > a {
    text-decoration: none;
    position: absolute;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 13px;
    background-color: #F9F6F1;
    border: none;
    cursor: pointer;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .submenu {
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
  }
  .submenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    outline: none;
    transition: .4s ease-in-out; 
  }

  .dropdown > li:hover .submenu{
    visibility: visible;
    opacity: 1;
  }

  .submenu li a {
    text-decoration: none;  
    font-family: Montserrat;
    font-weight: normal;
    font-size: 13px;
    background-color: #F9F6F1;
    border: none;
}

  .dropdown-men a:hover, .dropdown-women a:hover, .dropdown-kids a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-men,
  .dropdown:hover .dropdown-women,
  .dropdown:hover .dropdown-kids {
    display: block;
    margin-top: 80px;
  }

  .dropdown li svg {
    padding-left: 5px;
    padding-bottom: 4px;
  }

li:last-child {
    padding-right: 0;

}

.basket {
    padding-left: 70px;
    width: 91px;
}

.nav-wrapper {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 800px;
    background-color: #F9F6F1;
    margin-left: auto;
    margin-right: auto;

}

.nav-style {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 41px;


}

.logo-title {
    color: var(--Black, #212121);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 9px;
}

.logo-wrapper {
    display: flex;
     margin-left: 62px;
    margin-right: 88px;
}
.slider-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 109px;
    padding: 0;
}

.text__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 560px;
    padding: 0;
    /*margin-left: 150px;*/
}

.text__content h1 {
    color: #000;
    font-family: Montserrat;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    margin-bottom: 55px;
    padding-left: 5px;
}


.text__content h3 {
    margin-bottom: -20px;
    padding-left: 5px;
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.text__content button {
    width: 240px;
    height: 55px;
    background-color: #D7B399;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: -15px;
}

.text__content button,
.text__content button:active,
.text__content button:focus{
    border: none;
 }

.image__content {
    display: flex;
    flex-direction: column;
    /*margin-left: 150px;*/
    width: 556px;
}

/* слайдер */

#frame { 
	margin: 0 auto; 
	max-width: 100%; 
	text-align: center; 
} 

#frame input[type=radio] { 
	display: none; 
} 

#frame label { 
	cursor: pointer; 
	text-decoration: none; 
} 

#slides { 
	padding: 0; 
	position: relative; 
	z-index: 1; 
} 

#overflow { 
	width: 100%; 
	overflow: hidden; 
} 

#frame1:checked~#slides .inner { 
	margin-left: 0; 
} 

#frame2:checked~#slides .inner { 
	margin-left: -100%; 
} 

#frame3:checked~#slides .inner { 
	margin-left: -200%; 
} 

#frame4:checked~#slides .inner { 
	margin-left: -300%; 
} 

#slides .inner { 
	transition: margin-left 800ms 
		cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	width: 400%; 
	line-height: 0; 
	height: 300px; 
} 

#slides .frame {  
	float: left; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	height: 100%; 
	color: #FFF; 
} 

#slides .frame_1 { 
	background: var(--Cream, #F9F6F1); 
} 

#slides .frame_2 { 
	background: var(--Cream, #F9F6F1); 
} 

#slides .frame_3 { 
	background: var(--Cream, #F9F6F1); 
} 

#slides .frame_4 { 
	background: var(--Cream, #F9F6F1); 
} 

#controls { 
	margin: -180px 0 0 0; 
	width: 100%; 
	height: 50px; 
	z-index: 3; 
	position: relative; 
} 

#controls label { 
	transition: opacity 0.2s ease-out; 
	display: none; 
	width: 50px; 
	height: 50px; 
	opacity: .4; 
} 

#controls label:hover { 
	opacity: 1; 
} 

#frame1:checked~#controls label:nth-child(2), 
#frame2:checked~#controls label:nth-child(3), 
#frame3:checked~#controls label:nth-child(4), 
#frame4:checked~#controls label:nth-child(1) { 
	background: 
url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat; 
	float: right; 
	margin: 0 -50px 0 0; 
	display: block; 
} 

#frame1:checked~#controls label:nth-last-child(2), 
#frame2:checked~#controls label:nth-last-child(3), 
#frame3:checked~#controls label:nth-last-child(4), 
#frame4:checked~#controls label:nth-last-child(1) { 
	background: 
url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat; 
	float: left; 
	margin: 0 0 0 -50px; 
	display: block; 
} 

#bullets { 
	margin: 150px 0 0; 
	text-align: center; 
} 

#bullets label { 
	display: inline-block; 
	width: 10px; 
	height: 10px; 
	border-radius: 100%; 
	background: #ccc; 
	margin: 0 10px; 
} 

#frame1:checked~#bullets label:nth-child(1), 
#frame2:checked~#bullets label:nth-child(2), 
#frame3:checked~#bullets label:nth-child(3), 
#frame4:checked~#bullets label:nth-child(4) { 
	background: #444; 
} 

@media screen and (max-width: 900px) { 
	#frame1:checked~#controls label:nth-child(2), 
	#frame2:checked~#controls label:nth-child(3), 
	#frame3:checked~#controls label:nth-child(4), 
	#frame4:checked~#controls label:nth-child(1), 
	#frame1:checked~#controls label:nth-last-child(2), 
	#frame2:checked~#controls label:nth-last-child(3), 
	#frame3:checked~#controls label:nth-last-child(4), 
	#frame4:checked~#controls label:nth-last-child(1) { 
		margin: 0; 
	} 
	#slides { 
		max-width: calc(100% - 140px); 
		margin: 0 auto; 
	} 
}
 /* слайдер */



.delivery {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 235px;
    padding: 40px 0;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-family: Montserrat;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.delivery h1 {
    padding-top: 80px;
    margin: 0;
    text-transform: uppercase;
}
.delivery h3 {
    font-family: Montserrat;
    font-weight: 100;
}

.thin-weight {
    font-family: Montserrat ;
    font-weight: 300;
}

.collection-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #F9F6F1;
}

.collection__text__content {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
    width: 960px;
    height: 250px;
    padding: 0;
    background-color: #F9F6F1;
}

.collection__text__content h2 {
    font-weight: 400;
    font-family: Montserrat;
    font-size: 24px;
    text-transform: uppercase;
    white-space: nowrap;
}

.collection__text__content h4 {
    font-weight: 300;
    font-family: Montserrat;
    font-size: 16px;
}
.collection__text__content button {
    width: 80px;
    height: 30px;
    background-color: #D7B399;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}

.collection__text__content button,
.collection__text__content button:active,
.collection__text__content button:focus{
    border: none;
}

.collection__image__content {
    display: flex;
    flex-direction: column;
    background-color: #F9F6F1;
    width: 960px;
    height: 250px;
}

.collection__image__content img {
    width: 190px;
    height: 171px;
    margin-top: 40px;
}

.background-style {
    display: block;
    background-color: #F9F6F1;
}

.medium-text {
    font-weight: 500;
    font-family: Montserrat;
}
.light-text {
    font-weight: 300;
    font-family: Montserrat;
}

.collection-block-wrapper {
    width: 1920px;
    margin: 0 auto;
    background-color: #F9F6F1;
}

button#next {
    background: #CECECE;
    border: none;
    color:#fff;
    text-transform: none;
    cursor: pointer;
}
button#prev {
    background: #CECECE;
    border: none;
    color:#fff;
    text-transform: none;
    cursor: pointer;
}
button#prev:hover, button#next:hover {
    background:#D7B399;
}
.slider {
    width: 1140px;
    height: 509px;
    margin: 30px auto;
    overflow: hidden;
}
.slider-wrapper {
    height: 377px;
    width: 4560px;
    display: flex;
    position: relative;
    left:0;
    transition: all ease 1s;
}